.right-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 30px;
    align-items: center;

.avatar{
    height: 36px;
    width: 36px;
    background-color: #f6f6f6;
    padding: 3px;
}

.flag{
    height: 18px;
    z-index: 1;
}

.nav-icon{
    font-size: 20px;
}

@media screen and (max-width: 500px) {
    // .nav-icon{
    //     display: none;
    // }

    .flag{
        display: none;
    }
}
}

