.miniCard-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-width {
  width: 30%;
}

h4{
    font-size: 22px !important;
}
.card-body {
  padding: 20px;
  min-width: 250px;
  min-height: 100px;
}

.miniCard-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.miniCard-icon {
  border-radius: 50%;
  background-color: #556ee6;
  width: 50px;
  height: 50px;
  align-self: center;
}

.icon-style {
  position: relative;
  font-size: 24px;
  left: 14px;
  top: 4px;
  color: white;
}

@media screen and (max-width: 500px) {
  .card-width{
    width: 100%;
    margin-top: 20px;
  }
 
}